{% extends 'base.html' %}

{% block content %}
<div
	style="max-width: 900px; margin: auto; padding: 2rem; background: rgb(94, 89, 89); border-radius: 10px; box-shadow: 0px 4px 10px rgba(0,0,0,0.1); color: #fbf6f6;">

	<h2 style="text-align: center; color: black;">VERSION 1.0.0</h2>
	<hr style="border-color: #ccc; margin: 1rem 0;">

	<h2 style="text-align: center; color: black;">THIS PROJECT IS DONE AS PART OF MINIPROJECT</h2>
	<p style="font-size: 1.1rem; line-height: 1.6; text-align: justify; margin-top: 1rem;">
		The Audio/Text to ISL Translator aims to bridge the communication gap between hearing and deaf communities by
		translating text and voice into Indian Sign Language (ISL).
		This project promotes inclusivity and accessibility for people with hearing or speech impairments, ensuring
		that communication is easier and more effective for everyone.
	</p>

	<hr style="border-color: #ccc; margin: 1.5rem 0;">

	<h2 style="color: black;">Our Team Members:</h2>
	<ul style="list-style: none; padding: 0; font-size: 1.1rem;text-align: center;">
		<li> Sinchana </li>
		<li> Ranjita</li>
		<li> Shreya </li>
		<li> Disha Anand Shet</li>
	</ul>

	<hr style="border-color: #ccc; margin: 1.5rem 0;">

	<p style="text-align: center; font-size: 1.1rem;">❤️ Thank you for visiting our website ❤️</p>
</div>
{% endblock %}